In [5]:
import pandas as pd
import numpy as np


long_fp = "M:/Data Science/Data Analyst/Github & LinkedIN Portfolio Projects/Football Academy Performance Project/football_performance_long1.csv"
summary_fp = "M:/Data Science/Data Analyst/Github & LinkedIN Portfolio Projects/Football Academy Performance Project/football_performance_summary.csv"

df_long = pd.read_csv(long_fp)
df_summary = pd.read_csv(summary_fp)

print("df_long columns:", df_long.columns.tolist())
print("df_summary columns:", df_summary.columns.tolist())

# Define the common column based on your dataframes
# Replace 'player_id' with the actual column name that exists in both dataframes
common_column = 'player_id'  # You need to specify the actual common column name

df = pd.merge(
    df_long,
    df_summary,
    on=common_column,
    how='outer',  # Use 'inner', 'left', 'right', or 'outer' based on your needs
    suffixes=('_long', '_summary')  # Add suffixes to distinguish duplicate column names
)

print("\nCombined DataFrame shape:", df.shape)
print("\nFirst 5 rows of combined DataFrame:")
print(df.head())

print("\nMissing values in combined DataFrame:")
print(df.isnull().sum())

df_long columns: ['match_id', 'match_date', 'player_id', 'player_name', 'age', 'position', 'attendance', 'minutes_played', 'fitness_score', 'stamina', 'speed', 'passing_accuracy', 'tackles', 'goals', 'assists', 'shots_on_target', 'saves', 'yellow_card', 'red_card']
df_summary columns: ['player_id', 'player_name', 'age', 'position', 'matches_played', 'total_minutes', 'avg_fitness', 'avg_stamina', 'avg_speed', 'avg_passing', 'total_goals', 'total_assists', 'total_saves', 'total_tackles', 'yellow_cards', 'red_cards']

Combined DataFrame shape: (960, 34)

First 5 rows of combined DataFrame:
  match_id  match_date player_id player_name_long  age_long position_long  \
0     M200  01-01-2025     P1000            Anvay        12           MID
1     M201  08-01-2025     P1000            Anvay        12           MID
2     M202  15-01-2025     P1000            Anvay        12           MID
3     M203  22-01-2025     P1000            Anvay        12           MID
4     M204  29-01-2025     P1000            Anvay        12           MID

   attendance  minutes_played  fitness_score  stamina  ...  avg_fitness  \
0           1              67           67.3     62.1  ...       66.635
1           1              62           73.9     70.4  ...       66.635
2           1              73           77.7     57.8  ...       66.635
3           1              68           60.9     74.1  ...       66.635
4           1              90           55.1     45.8  ...       66.635

   avg_stamina  avg_speed  avg_passing  total_goals  total_assists  \
0        59.56      65.36        70.34            2              0
1        59.56      65.36        70.34            2              0
2        59.56      65.36        70.34            2              0
3        59.56      65.36        70.34            2              0
4        59.56      65.36        70.34            2              0

   total_saves  total_tackles  yellow_cards red_cards
0            0             22             3         0
1            0             22             3         0
2            0             22             3         0
3            0             22             3         0
4            0             22             3         0

[5 rows x 34 columns]

Missing values in combined DataFrame:
match_id               0
match_date             0
player_id              0
player_name_long       0
age_long               0
position_long          0
attendance             0
minutes_played         0
fitness_score          0
stamina                0
speed                  0
passing_accuracy       0
tackles                0
goals                  0
assists                0
shots_on_target        0
saves                  0
yellow_card            0
red_card               0
player_name_summary    0
age_summary            0
position_summary       0
matches_played         0
total_minutes          0
avg_fitness            0
avg_stamina            0
avg_speed              0
avg_passing            0
total_goals            0
total_assists          0
total_saves            0
total_tackles          0
yellow_cards           0
red_cards              0
dtype: int64

In [8]:

import re
import pandas as pd
from sqlalchemy import create_engine

bool_indicators = ['is_', 'has_', 'was_', 'did_']
for col in df.columns:
    if any(indicator in col for indicator in bool_indicators):
        try:
            df[col] = df[col].astype(bool)
        except:
            pass


if 'birth_date' in df.columns and pd.api.types.is_datetime64_dtype(df['birth_date']):
    df['age'] = (pd.Timestamp.now() - df['birth_date']).dt.days / 365.25
    df['age_group'] = pd.cut(df['age'], 
                            bins=[0, 12, 15, 18, 21, 25, 30, 100],
                            labels=['U12', 'U15', 'U18', 'U21', '21-25', '26-30', '30+'])


performance_cols = [col for col in numeric_cols if 'performance' in col or 'score' in col or 'rating' in col]
for col in performance_cols:
    if col in df.columns:
        # Min-max normalization to 0-10 scale
        min_val = df[col].min()
        max_val = df[col].max()
        if max_val > min_val:  # Avoid division by zero
            df[f'{col}_normalized'] = 10 * (df[col] - min_val) / (max_val - min_val)


if set(['goals', 'assists', 'passes_completed']).issubset(df.columns):
    df['performance_index'] = (
        df['goals'] * 3 + 
        df['assists'] * 2 + 
        df['passes_completed'] * 0.01
    )

print("\nCleaned DataFrame info:")
print(df.info())
print("\nSample of cleaned data:")
print(df.head())


db_username = 'your_username'
db_password = 'your_password'
db_host = 'localhost'
db_port = '5432'
db_name = 'football_academy_db'
table_name = 'football_performance'


connection_string = f'postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}'
engine = create_engine(connection_string)


try:
    df.to_sql(
        name=table_name,
        con=engine,
        if_exists='replace',  # Options: 'fail', 'replace', 'append'
        index=False,
        chunksize=1000  # Adjust based on your data size
    )
    print(f"\nSuccessfully exported data to PostgreSQL table: {table_name}")
except Exception as e:
    print(f"Error exporting to PostgreSQL: {e}")

Cleaned DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   match_id                  960 non-null    object
 1   match_date                960 non-null    object
 2   player_id                 960 non-null    object
 3   player_name_long          960 non-null    object
 4   age_long                  960 non-null    int64
 5   position_long             960 non-null    object
 6   attendance                960 non-null    int64
 7   minutes_played            960 non-null    int64
 8   fitness_score             960 non-null    float64
 9   stamina                   960 non-null    float64
 10  speed                     960 non-null    float64
 11  passing_accuracy          960 non-null    float64
 12  tackles                   960 non-null    int64
 13  goals                     960 non-null    int64
 14  assists                   960 non-null    int64
 15  shots_on_target           960 non-null    int64
 16  saves                     960 non-null    int64
 17  yellow_card               960 non-null    int64
 18  red_card                  960 non-null    int64
 19  player_name_summary       960 non-null    object
 20  age_summary               960 non-null    int64
 21  position_summary          960 non-null    object
 22  matches_played            960 non-null    int64
 23  total_minutes             960 non-null    int64
 24  avg_fitness               960 non-null    float64
 25  avg_stamina               960 non-null    float64
 26  avg_speed                 960 non-null    float64
 27  avg_passing               960 non-null    float64
 28  total_goals               960 non-null    int64
 29  total_assists             960 non-null    int64
 30  total_saves               960 non-null    int64
 31  total_tackles             960 non-null    int64
 32  yellow_cards              960 non-null    int64
 33  red_cards                 960 non-null    int64
 34  fitness_score_normalized  960 non-null    float64
dtypes: float64(9), int64(19), object(7)
memory usage: 262.6+ KB
None

Sample of cleaned data:
  match_id  match_date player_id player_name_long  age_long position_long  \
0     M200  01-01-2025     P1000            Anvay        12           MID
1     M201  08-01-2025     P1000            Anvay        12           MID
2     M202  15-01-2025     P1000            Anvay        12           MID
3     M203  22-01-2025     P1000            Anvay        12           MID
4     M204  29-01-2025     P1000            Anvay        12           MID

   attendance  minutes_played  fitness_score  stamina  ...  avg_stamina  \
0           1              67           67.3     62.1  ...        59.56
1           1              62           73.9     70.4  ...        59.56
2           1              73           77.7     57.8  ...        59.56
3           1              68           60.9     74.1  ...        59.56
4           1              90           55.1     45.8  ...        59.56

   avg_speed  avg_passing  total_goals  total_assists  total_saves  \
0      65.36        70.34            2              0            0
1      65.36        70.34            2              0            0
2      65.36        70.34            2              0            0
3      65.36        70.34            2              0            0
4      65.36        70.34            2              0            0

   total_tackles  yellow_cards  red_cards fitness_score_normalized
0             22             3          0                 5.080645
1             22             3          0                 6.145161
2             22             3          0                 6.758065
3             22             3          0                 4.048387
4             22             3          0                 3.112903

[5 rows x 35 columns]
Error exporting to PostgreSQL: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: FATAL:  role "your_username" does not exist

(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [10]:
df.describe()

,age_long,attendance,minutes_played,fitness_score,stamina,speed,passing_accuracy,tackles,goals,assists,...,avg_stamina,avg_speed,avg_passing,total_goals,total_assists,total_saves,total_tackles,yellow_cards,red_cards,fitness_score_normalized
count,960.000000,960.000000,960.000000,960.000000,960.000000,960.000000,960.000000,960.000000,960.000000,960.000000,...,960.000000,960.000000,960.000000,960.000000,960.000000,960.000000,960.000000,960.000000,960.000000,960.000000
mean,14.791667,0.922917,64.276042,69.838958,60.136875,63.737917,66.767500,1.071875,0.033333,0.034375,...,60.136875,63.737917,66.767500,0.666667,0.687500,2.895833,21.437500,1.416667,0.020833,5.490155
std,1.937053,0.266863,25.100712,9.940482,10.648750,10.460888,12.764259,1.296518,0.185314,0.187919,...,2.621101,2.902787,3.732828,1.143205,1.102774,9.679407,13.874014,1.239485,0.142901,1.603304
min,12.000000,0.000000,0.000000,35.800000,28.800000,32.400000,23.300000,0.000000,0.000000,0.000000,...,52.450000,57.325000,58.055000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,13.000000,1.000000,53.000000,63.600000,53.200000,56.675000,58.050000,0.000000,0.000000,0.000000,...,58.895000,61.880000,63.876250,0.000000,0.000000,0.000000,11.750000,0.000000,0.000000,4.483871
50%,15.000000,1.000000,69.500000,70.050000,59.500000,63.900000,67.100000,1.000000,0.000000,0.000000,...,60.052500,63.750000,66.792500,0.000000,0.000000,0.000000,17.000000,1.000000,0.000000,5.524194
75%,16.000000,1.000000,86.000000,76.400000,67.100000,70.625000,75.300000,2.000000,0.000000,0.000000,...,61.923750,65.407500,69.712500,1.000000,1.000000,0.000000,36.000000,2.000000,0.000000,6.548387
max,18.000000,1.000000,90.000000,97.800000,96.900000,94.400000,100.000000,7.000000,2.000000,2.000000,...,64.915000,69.265000,73.390000,4.000000,4.000000,39.000000,45.000000,5.000000,1.000000,10.000000

In [14]:
from sqlalchemy import create_engine

# Step 1: Connect to PostgreSQL
# Replace placeholders with actual details
username = "postgres"      # default user
password = "987021" # the password set during installation
host = "localhost"         # if running locally
port = "5432"              # default PostgreSQL port
database = "Football_Academy"    # the database created in pgAdmin

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

# Step 2: Load DataFrame into PostgreSQL
table_name = "FA_P&E"
df.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

Data successfully loaded into table 'FA_P&E' in database 'Football_Academy'.